.subscribe {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-image: url('../../../assets/cloudly_forrest.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.banner-img{
    background-image: url('../../../assets/cloudly_forrest.jpg');
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.card{
    border: none;
    box-shadow: 4px 5px 8px rgb(24, 24, 24);
}
.card-header{
    background: rgb(70, 144, 255);
}