@import url('https://fonts.googleapis.com/css?family=Battambang');

  @media only screen and (max-width: 820px){
    .container-me{
      max-width: 80vw;
    }
  }
  @media only screen and (min-width: 821px){
    .container-me{
      max-width: 40vw;
    }
  }

  .intro{
    min-height: 100vh;
    /* background-image: url('https://cdn.pixabay.com/photo/2017/10/05/09/05/railway-2818748_960_720.jpg'); */
  }
  .content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-bottom: 20px;
  }
  .container-me{
    margin: 2.2vw;
    padding: 1em;
    background-color: rgb(73, 73, 73);
    border: none;
    border-radius: 4px;
    box-shadow: 3px 4px 10px rgb(24, 24, 24);
    min-width: 250px;
  }
  .container-me h3{
    font-family:  Arial, Helvetica, sans-serif cursive;
    font-weight: 550;
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  .container-me p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    word-wrap: break-word;
  }